In [1]:
from src.download_data import download_kaggle_dataset

download_kaggle_dataset("harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows")

Dataset URL: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

In [1]:
from src.clean_data import clean_imdb_data

df = clean_imdb_data("data/imdb_top_1000.csv")  # Replace with your file name if different
df.head()

/Users/katelynnyoussefyeh/gender_in_movies/src/clean_data.py:21: SyntaxWarning: invalid escape sequence '\$'
  df['Gross'] = df['Gross'].replace('[\$,]', '', regex=True).astype(float)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,No_of_Votes,Gross,Director_First,Star1_First
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,2343110,28341469.0,Frank,Tim
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,1620367,134966411.0,Francis,Marlon
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,2303232,534858444.0,Christopher,Christian
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,1129952,57300000.0,Francis,Al
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,689845,4360000.0,Sidney,Henry